.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix

content/.trash/
content/.obsidian/.plugins/
content/.obsidian/.trash/
content/.obsidian/themes/
content/.obsidian/appearance.json
content/.obsidian/hotkeys.json
content/.obsidian/workspace.json
